@inherits ReactiveComponentBase<AddPackageViewModel>
@if (ViewModel != null)
{
    <AlertView Alert="ViewModel.Alert" />
    <MudOverlay ZIndex="5" Visible="@ViewModel.IsOpen"
                Style="background-color: rgba(255,255,255,.3); padding: 20px"
                AutoClose="false" />

    <MudPopover Open="ViewModel.IsOpen" Fixed="true" Class="px-4 pt-4">
        <div class="d-flex flex-column">
            <div class="d-flex justify-end">
                <MudIconButton Icon="@Icons.Material.Filled.Close"
                               OnClick="() => ViewModel.IsOpen = false"
                               Color="Color.Default"
                               Class="ml-auto" />
            </div>
            <MudStack>
                <MudNumericField @bind-Value="ViewModel.ResumeGenerations" Label="Resume Generations"
                    Variant="Variant.Outlined" />
                <MudNumericField @bind-Value="ViewModel.Price" Label="Price" Adornment="Adornment.Start" AdornmentText="$"
                    Variant="Variant.Outlined" />
                <MudTextField @bind-Value="ViewModel.Name" Label="Name"/>
                <MudStack Row="true">
                    <MudButton OnClick="ViewModel.Add.BindCommand<MouseEventArgs>()" Class="fw-bold"
                        Variant="Variant.Filled" Color="Color.Primary">Add Package</MudButton>
                    <MudButton OnClick="ViewModel.Cancel.BindCommand<MouseEventArgs>()" Class="fw-bold"
                        Variant="Variant.Filled" Color="Color.Primary">Cancel</MudButton>
                </MudStack>
            </MudStack>
        </div>
    </MudPopover>
}
<style>
    .mud-popover {
        width: 30vmax;
        padding: 1%;
        position: absolute;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
</style>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && ViewModel != null)
            await ViewModel.Init.Execute().GetAwaiter();
        await base.OnAfterRenderAsync(firstRender);
    }
}
