@inherits ReactiveComponentBase<AddCertificateIssuerViewModel>
@if (ViewModel != null)
{
    <AlertView Alert="ViewModel.Alert" />
    @if (ViewModel.IsOpen)
    {
        <MudStack>
            <div class="d-flex flex-column">
                <MudStack>
                    <MudTextField @bind-Value="ViewModel.Name" Label="Name" Variant="Variant.Outlined" />
                    <SmartTextEditor TViewModel="AddCertificateIssuerViewModel" ViewModel="ViewModel.SmartText"/>
                    <MudTextField @bind-Value="ViewModel.Url" Label="URL" Variant="Variant.Outlined" />
                   
                    <MudStack Row="true">
                        <MudButton OnClick="ViewModel.Add.BindCommand<MouseEventArgs>()">Add Issuer</MudButton>
                        <MudButton OnClick="ViewModel.Cancel.BindCommand<MouseEventArgs>()">Cancel</MudButton>
                    </MudStack>
                </MudStack>
            </div>
        </MudStack>

    }
}

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && ViewModel != null)
            await ViewModel.Init.Execute().GetAwaiter();
        await base.OnAfterRenderAsync(firstRender);
    }
}
