@inherits ReactiveComponentBase<AddPositionSkillViewModel>

@if (ViewModel != null)
{
    <AlertView Alert="ViewModel.Alert" />
   <MudDialog Visible="ViewModel.IsOpen" Class="px-4 pt-4">
       <DialogContent>
            <div class="d-flex flex-column">
                <MudStack>
                    <SearchSelectEntityView TAddView="AddSkillView"
                                            TEntity="Skill" TKey="Guid" TAddViewModel="AddSkillViewModel"
                                            TSearchSelectViewModel="SearchSelectSkillViewModel"
                                            ViewModel="ViewModel.SkillSelectorViewModel" />
                    <MudTextField Lines="10" @bind-Value="ViewModel.Description" Label="Description"
                                  Variant="Variant.Outlined" />
                    <MudStack Row="true">
                        <MudButton OnClick="ViewModel.Add.BindCommand<MouseEventArgs>()" Class="fw-bold"
                                   Variant="Variant.Filled" Color="Color.Primary">
                            Add Skill
                        </MudButton>
                        <MudButton OnClick="ViewModel.Cancel.BindCommand<MouseEventArgs>()" Class="fw-bold"
                                   Variant="Variant.Filled" Color="Color.Primary">
                            Cancel
                        </MudButton>
                    </MudStack>
                </MudStack>
            </div>
       </DialogContent>
       
    </MudDialog>





}

@code {

}
