@inherits ReactiveComponentBase<AddProjectSkillViewModel>

@if (ViewModel != null)
{
    <AlertView Alert="ViewModel.Alert" />
    <MudDialog @bind-Visible="ViewModel.IsOpen" Class="add-skill-dialog">
        <DialogContent>
            <div class="d-flex flex-column">
                <MudStack>
                    <SearchSelectEntityView TAddView="AddSkillView"
                                            TEntity="Skill" TKey="Guid" TAddViewModel="AddSkillViewModel"
                                            TSearchSelectViewModel="SearchSelectSkillViewModel"
                                            ViewModel="ViewModel.SkillSelectorViewModel" />
                    <SmartTextEditor TViewModel="AddProjectSkillViewModel" ViewModel="ViewModel.SmartText" />
                    <MudStack Row="true">
                        <MudButton OnClick="ViewModel.Add.BindCommand<MouseEventArgs>()" Class="fw-bold"
                                   Variant="Variant.Filled" Color="Color.Primary">
                            Add Skill
                        </MudButton>
                        <MudButton OnClick="ViewModel.Cancel.BindCommand<MouseEventArgs>()" Class="fw-bold"
                                   Variant="Variant.Filled" Color="Color.Primary">
                            Cancel
                        </MudButton>
                    </MudStack>
                </MudStack>
            </div>
        </DialogContent>
        
    </MudDialog>





}
