@inherits ReactiveComponentBase<RawSkillViewModel>
@if (ViewModel != null)
{   
    <div class="skillDiv">
        <p class="skillView">@ViewModel.Name</p>
      @* <MudCheckBox Label="Add Skill" @bind-Value="ViewModel.IsSelected" />*@
      <MudButton>+</MudButton>
    </div>
}