@page "/recruiters"
@inherits ReactiveInjectableComponentBase<RecruitersViewModel>
@if (ViewModel != null)
{
    <AlertView Alert="ViewModel.Alert" />
    <h3>Associated Recruiters</h3>
    <MudDataGrid T="User" ServerData="ViewModel.Fetch.BindServerDataCommand()" RowsPerPage="10" Filterable="true"
        FilterMode="DataGridFilterMode.ColumnFilterMenu" SortMode="SortMode.Multiple">
        <Columns>
            <PropertyColumn Property="x => x.FirstName" Title="First Name" />
            <PropertyColumn Property="x => x.LastName" Title="Last Name" />
            <PropertyColumn Property="x => x.EmailAddress" Title="Email" />
            <TemplateColumn Title="Remove">
                <CellTemplate>
                    @{
                        <MudButton OnClick="ViewModel.RemoveRecruiter.BindCommand<MouseEventArgs>(context.Item.Id)"
                            Class="fw-bold" Variant="Variant.Filled" Color="Color.Primary">
                            Remove</MudButton>
                    }
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <NoRecordsContent>
            <MudPaper Class="pa-8 text-center my-4 noContent" Elevation="0" Style="background-color: transparent;">
                <MudIcon Icon="@Icons.Material.Filled.PostAdd" Size="Size.Large" Color="Color.Primary" Class="mb-3" />
                <MudText Typo="Typo.h5" Class="mb-2" Color="Color.Primary">No Purchases Found</MudText>
                <MudText Typo="Typo.body1" Class="mb-4" Color="Color.Info">
                    Your postiong history is empty. Try adjusting filters or check back later.
                </MudText>
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small">
                    Refresh Data
                </MudButton>
            </MudPaper>
        </NoRecordsContent>
        <PagerContent>
            <MudDataGridPager T="User" />
        </PagerContent>
    </MudDataGrid>
}
@code {

}
