<footer class="footer">
    <div class="footer-container">
        <div class="footer-brand">
            <div class="logo-container">
                <i class="fas fa-code logo-icon"></i>
                <h2 class="logo-text">Programming<span>Team</span></h2>
            </div>
            <p class="footer-about">Empowering job seekers with AI-powered resume tailoring technology since 2024.</p>
            <div class="footer-social">
                @* <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>*@
                <a href="https://www.linkedin.com/company/programming-team/" class="social-link"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/jlind0/Programming.Team" class="social-link"><i class="fab fa-github"></i></a>
                @* <a href="#" class="social-link"><i class="fab fa-youtube"></i></a>*@
            </div>
        </div>
        <div class="footer-links-container">
            @*<div class="footer-links-col">
            <h3 class="footer-title">Product</h3>
            <ul class="footer-links">
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Examples</a></li>
            <li><a href="#">Updates</a></li>
            </ul>
            </div>*@
            <div class="footer-links-col">
                <h3 class="footer-title">Company</h3>
                <ul class="footer-links">
                    <li><a href="/blog/about/">About</a></li>
                    <li><a href="/blog/careers/">Careers</a></li>
                    @*@<li><a href="#">Press</a></li>
                    <li><a href="#">Partners</a></li>*@
                </ul>
            </div>
            <div class="footer-links-col">
                <h3 class="footer-title">Resources</h3>
                <ul class="footer-links">
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/blog/tutorials/">Tutorials</a></li>
                    <li><a href="https://api.programming.team/swagger/">API Docs</a></li>
                </ul>
            </div>
            <div class="footer-links-col">
                <h3 class="footer-title">Legal</h3>
                <ul class="footer-links">
                    <li><a href="/blog/privacy/">Privacy</a></li>
                    <li><a href="/blog/tos/">Terms</a></li>
                    <li><a href="/blog/security/">Security</a></li>
                    <li><a href="/blog/GPDR/">GDPR</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-container">
            <p class="copyright">&copy; 2024-@DateTime.Now.Year Programming Team. All rights reserved.</p>
            <div class="footer-legal">
                <a href="/blog/privacy/">Privacy Policy</a>
                <a href="/blog/tos/">Terms of Service</a>
                <a href="/blog/GPDR/">Cookie Policy</a>
            </div>
        </div>
    </div>
</footer>